<!DOCTYPE>
<html>
    <body>
        <h1>Accountants</h1>

        {{#accountants}}
           <b>{{id}}</b>
           <i>{{name}}</i>
           <i>{{town.name}}</i>
        {{/accountants}}

        <h1>Posts</h1>

        {{#posts}}
            {{postCode}}
        {{/posts}}

    </body>
</html>