<!DOCTYPE>
<html>
    <body>
        <h1>Accountants</h1>

        {{#accountants}}
           <b>{{id}}</b>
           <i>{{name}}</i>
        {{/accountants}}

        <h1>Towns</h1>

        {{#towns}}
            {{name}}
        {{/towns}}

    </body>
</html>